# 忽略所有 node_modules
**/node_modules/

# 忽略构建产物
dist/
build/

# 忽略包管理器文件
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略编辑器/系统文件
.vscode/
.DS_Store

# 忽略缓存和配置目录
.cache/
.claude/

# 其他
.github/
.kiro/
